@'
# Python
__pycache__/
*.py[cod]
*.pyo

# Venv
myenv/
.venv/
jjenv/

# Django
db.sqlite3
staticfiles/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Dotenv
.env
'@ | Out-File -Encoding utf8 .gitignore

.log
dashboard_tests.log

# Archivo de contraseñas (no incluir en git por seguridad)
users/user_passwords.json
