{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero">
  <h1 class="hero-title">Hola Jefe 👑<br>¿Desea iniciar un nuevo proyecto?</h1>
  <div class="hero-buttons">
    <a class="btn-hero" href="{% url 'projects:project_create' %}">Iniciar Proyecto <span class="chev"></span></a>
    <a class="btn-hero" href="{% url 'projects:project_list' %}">Ver Proyectos <span class="chev"></span></a>
    <a class="btn-hero" href="{% url 'users:user_list' %}">Gestionar Usuarios <span class="chev"></span></a>
  </div>

  <div class="hero-logo">
    <img src="{% static 'img/Logo Inclusive.png' %}" alt="Inclusive">
  </div>
</section>
{% endblock %}
